@page "/auth/login"

<div class="page">

    <div class="panel">

        @if (@_error is not null)
        {
            <div class="error">
                <b>ERROR</b><br/>@_error
            </div>
        }
        else
        {
            <form>
                <InputText @bind-Value="UserName" placeholder="User name"></InputText>
                
                <InputText type="password" @bind-Value="Password"  placeholder="Password"></InputText>
                
                <button class="loginButton" @onclick="OnLoginClick">LogIn</button>
            </form>

            <div class="bottomBar">
                Not a member? <NavLink href="/auth/register">Create account</NavLink>
            </div>
        }
    </div>
</div>