@page "/auth/login"

<div class="page">

    <div class="panel">

        @if (_requestValidationError.Count > 0)
        {
            <div class="error">
                @foreach (var error in _requestValidationError)
                {
                    <div>@error</div>
                }
            </div>
        }
        else
        {
            <form @onsubmit="Login">
                <InputText @bind-Value="UserName" placeholder="Email"></InputText>

                <InputText type="password" @bind-Value="Password" placeholder="Password"></InputText>


                @if (_requestHandlingError.Count > 0)
                {
                    <div class="error">
                        @foreach (var error in _requestHandlingError)
                        {
                            <div>@error</div>
                        }
                    </div>
                }

                <button class="loginButton" type="submit">LogIn</button>
            </form>

            <div class="bottomBar">
                Not a member? <NavLink href="/auth/register">Create account</NavLink>
            </div>
        }
    </div>
</div>