@page "/auth/forgot-password"

<div class="forgot-password-widget mt-5">
    <div class="mb-5">
        <label for="email-input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">CONTINUE</button>
    </div>
</div>