@page "/auth/login"

<div class="login-widget mt-5">
    <div class="mb-3">
        <label for="email-input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="password">
    </div>
    <div class="mb-3 row">
        <div class="col">
            <input class="form-check-input" type="checkbox" value="" id="remember-checkbox">
            <label class="form-check-label" for="remember-checkbox">Remember me</label>
        </div>
        <div class="col text-end">
            <NavLink href="/auth/forgot-password">Forgot password?</NavLink>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">SIGN IN</button>
    </div>
    <div class="mb-3">
        <p class="text-center">Not a&nbsp;member? <NavLink href="/auth/registration">Registration.</NavLink></p>
    </div>
</div>