@page "/auth/registration"

<div class="registration-widget mt-5">
    <div class="mb-3">
        <label for="email-input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="display-name-input" class="form-label">Display name</label>
        <input type="text" class="form-control" id="display-name-input" placeholder="John Example">
    </div>
    <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="password">
    </div>
    <div class="mb-5">
        <label for="repeat-password-input" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="repeat-password-input" placeholder="password">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">SIGN UP</button>
    </div>
</div>