@page "/reset-password"

<div class="reset-password-widget mt-5">
    <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="password">
    </div>
    <div class="mb-5">
        <label for="repeat-password-input" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="repeat-password-input" placeholder="password">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">CHANGE PASSWORD</button>
    </div>
</div>